body 
{
   background: #d9514eff; 
   font-family: 'Caveat', cursive;
}

.case_study
{
   background: #dedede;
   width: 100%;
}

.case_study img 
{
 width: 300px;
 height: 100px;
}

.test
{
   font-size: 25px;
   text-align: left;
}

.image
{
   width: 400px;
   height:300px;
   border-radius: 10%;
}